{% extends 'layout.html.twig' %}

{% block page_title %}Filer | Upload{% endblock %}  

{% block content %}
<div class="col form_wrap">
    <form class="filer_content" name="upload-form" method="post" action="?action=upload" enctype="multipart/form-data">
        <h1 class="content_title">Here you can upload files</h1>
        <label>Choose your file :</label><br><br>
        <input name="user_file" type="file"><br><br>
        <button class="btn" name="upload-btn" type="submit">Upload</button>
    </form>
    <div class="upload_errors">
        {{ errors['upload'] }}
    </div>

    <div class="filer_content">
        <table class="files_list" border="1">
        <form action="?action=upload" method="post">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
                <th>Link</th>
                <th>Delete</th>
                <th>Move</th>
            </tr>    
                {% for file in files %}
                    {% for entry in file %}
                    <tr>
                        <td>{{ entry['name'] }}</td>
                        <td>{{ entry['type'] }}</td>
                        <td>{{ entry['size'] }}</td>
                        <td>{{ entry['link'] }}</td>
                        <td><button type="submit" name="delete-btn" value={{ entry['id'] }}>Delete</button></td>
                        <td>Move</td>
                    </tr>    
                    {% endfor %} 
                {% endfor %}
            </form>    
        </table>
    </div>
</div>
{% endblock %}
